.register {
    height: 100vh;
    background-color: rgb(193,190,255);
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
    
        .left {
            flex:1;
            background:
            linear-gradient(rgba(39, 11, 96, 0.5),rgba(39,11 ,96, 0.5)),
            url("https://images.pexels.com/photos/1255061/pexels-photo-1255061.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") center;
            background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color:white;

            h1{ 
            font-size: 40px;  
            }
            p{
                font-size: 14px;
            }
            span{
                font-size: 14px;
            }
            button {
                padding: 10px;
                border: none;
                background: white;
                color:rebeccapurple;
                cursor:pointer;
                width: 50%;
            }

        }

        .right{
            flex:1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;  
            justify-content: center;
            h1{
                color:#555
            }
            form {
                display: flex;
                flex-direction: column;
                gap: 25px;

                input{
                    border: none;
                    border-bottom: 1px solid gray;
                    padding: 20px 10px ;
                }
                button {
                    width: 50%;
                    padding: 10px 20px;
                    border:none;
                    background-color: purple;
                    color:white;
                    width: 50%;
                    font-weight: bold;
                    cursor: pointer;
                }

            }

        }
        


    }


}